{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "electron": "40"
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
